<div class="colors-margin">
  <div>
    <input type="button" value="Nationals" class="btn btn-danger" (click)="categorize('nationals')">
  </div>
  <div>
    <input type="button" value="Sports" class="btn btn-primary" (click)="categorize('sports')">
  </div>
  <div>
    <input type="button" value="Economics" class="btn btn-success" (click)="categorize('economics')">
  </div>
  <div>
    <input type="button" value="Opinion" class="btn btn-warning" (click)="categorize('opinion')">
  </div>
  <div>
    <input type="button" value="World" class="btn btn-dark" (click)="categorize('world')">
  </div>
</div>

