<div class="row">
	<div class="col-9">
		<div class="row">
    <label><strong>Name: </strong>{{user.name}}</label>
  </div>
  <div class="row">
    <label><strong>Email: </strong>{{user.email}}</label>
  </div>
  <div class="row">
    <label><strong>Type: </strong>{{user.type}}</label>
  </div>
</div>
<div class="col-3 actions">
  <div class="row">
    <div class="col-12 text-center">
      <button type="button" class="btn btn-primary" (click)="edit()">Edit</button>
    </div>
    <div class="col-12 text-center">
      <button type="button" class="btn btn-danger" (click)="delete()"><span *ngIf="isDeleting">...</span><span *ngIf="!isDeleting">Delete</span></button>
    </div>
  </div>
</div>
</div>